
<h2 id="extensions">Browser Extensions</h2>

<table class="table table-striped" aria-labelledby="extensions">
  <thead>
    <tr>
      <th style="text-align: left">Project</th>
      <th style="text-align: left">Web Store Links</th>
      <th style="text-align: left">GitHub Code</th>
      <th style="text-align: left">Issues</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align: left">
        <a href="https://opena11y.github.io/ainspector">
          AInspector for WCAG Evaluation
        </a>
      </td>
      <td>

         <ul>
            <li>
               <a href="https://chromewebstore.google.com/detail/ainspector-for-wcag-evalu/dhllbiaionalkdpankidadkoaaenenie">AInspector for Chrome</a>
                <br/>(Also runs on
              <a href="https://brave.com/">
                Brave
              </a>
              and
              <a href="https://vivaldi.com/">
                Vivaldi
              </a>
              )
            </li>

            <li>
               <a href="https://microsoftedge.microsoft.com/addons/detail/ainspector-for-wcag-evalu/enilnlbjbmnfleppphmbodnhkecoddhg">AInspector for Edge</a>
            </li>

            <li>
               <a href="https://addons.mozilla.org/en-US/firefox/addon/ainspector-wcag/">AInspector for Firefox</a>
            </li>

            <li>
               AInspector for Opera
              <br/>Note: Opera version is self-hosted, see documentation page for link.</a>
            </li>

         </ul>

      </td>
      <td style="text-align: left">
        <a href="https://github.com/opena11y/ainspector">
          AInspector Code
        </a>
      </td>
      <td style="text-align: left">
        <a href="https://github.com/opena11y/ainspector/issues">
          AInspector Issues
        </a>
      </td>
    </tr>
    <tr>
      <td style="text-align: left">
        <a href="https://opena11y.github.io/h2l-side-panel/">
          Headings, Landmarks and Links
        </a>
         (H2L)
      </td>
      <td>
         <ul>
            <li>
              <a href="https://chromewebstore.google.com/detail/toc-headings-landmarks-an/eoadlbcfkolkpigecddbdlbneekefkfa">
                H2L for Chrome
              </a>
              <br/>(Also runs on
              <a href="https://brave.com/">
                Brave
              </a>
              and
              <a href="https://vivaldi.com/">
                Vivaldi
              </a>
              )
            </li>
            <li>
              <a href="https://microsoftedge.microsoft.com/addons/detail/hhkaebffaohpcamjeogijpokkilabhcl">
                H2L for Edge
              </a>
            </li>
            <li>
              <a href="https://addons.mozilla.org/en-US/firefox/addon/headings-landmarks-links/">
                H2L for Firefox
              </a>
            </li>
            <li>
              H2L for Opera
              <br/>Note: Opera version is self-hosted, see documentation page for link.</a>
            </li>
          </ul>
      </td>
      <td style="text-align: left">
        <a href="https://github.com/opena11y/h2l-side-panel">
          H2L Code
        </a>
      </td>
      <td style="text-align: left">
        <a href="https://github.com/opena11y/h2l-side-panel/issues">
          H2L Issues
        </a>
      </td>
    </tr>

    <tr>
      <td style="text-align: left">
        <a href="https://skipto-landmarks-headings.github.io/page-script-5/">
          SkipTo.js forBypass Blocks
        </a>
        <br/>
        (Related Project)
      </td>
      <td>
          <ul>
              <li>
                <a href="https://chromewebstore.google.com/detail/skiptojs-for-chrome/mgmnhfooeifhicajoeoamlchoadbioof">
                  SkipTo.js for Chrome
                </a>
              <br/>(Also runs on
              <a href="https://brave.com/">
                Brave
              </a>
              and
              <a href="https://vivaldi.com/">
                Vivaldi
              </a>
              )
              </li>
              <li>
                <a href="https://microsoftedge.microsoft.com/addons/detail/skiptojs-for-microsoft-e/ljimnmfdebledgndinpmilpbmkfamicg">
                  SkipTo.js for Microsoft Edge
                </a>
              </li>
              <li>
                <a href="https://addons.mozilla.org/en-GB/firefox/addon/skipto-js-for-firefox">
                SkipTo.js for Firefox
                </a>
              </li>
              <li>
                <a href="https://addons.opera.com/en/extensions/details/skiptojs-for-opera">SkipTo.js for Opera
                </a>
              </li>
            </ul>
      </td>
      <td style="text-align: left">
        <a href="https://github.com/skipto-landmarks-headings/page-script-5">
          SkipTo.js Code
        </a>
      </td>
      <td style="text-align: left">
        <a href="https://github.com/skipto-landmarks-headings/page-script-5/issues">
          SkipTo.js Issues
        </a>
      </td>
    </tr>

  </tbody>
</table>


<h2 id="library">Evaluation Library</h2>
<table class="table table-striped" aria-labelledby="library">
  <thead>
    <tr>
      <th style="text-align: left">Project</th>
      <th style="text-align: left">GitHub Code</th>
      <th style="text-align: left">Issues</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align: left">
        <a href="https://opena11y.github.io/evaluation-library/">
          OpenA11y Evaluation Library
        </a>
      </td>
      <td style="text-align: left">
        <a href="https://github.com/opena11y/evaluation-library">
          Library Code
        </a>
      </td>
      <td style="text-align: left">
        <a href="https://github.com/opena11y/evaluation-library/issues">
          Library Issues
        </a>
      </td>
    </tr>
    <tr>
      <td style="text-align: left">
        <a href="https://www.w3.org/TR/html-aria/">
          ARIA in HTML
        </a>
        Specification to JSON Object
      </td>
      <td style="text-align: left">
        <a href="https://github.com/opena11y/aria-in-html-to-code">
          ARIA-in-HTML to JSON Code
        </a>
      </td>
      <td style="text-align: left">
        <a href="https://github.com/opena11y/aria-in-html-to-code/issues">
          ARIA-in-HTML to JSON Issues
        </a>
      </td>
    </tr>
    <tr>
      <td style="text-align: left">
        <a href="https://www.w3.org/TR/wai-aria-1.3/">
          ARIA Specification to JSON Object
        </a>
      </td>
      <td style="text-align: left">
        <a href="https://github.com/opena11y/aria-to-code">
          ARIA to JSON Code
        </a>
      </td>
      <td style="text-align: left">
        <a href="https://github.com/opena11y/aria-to-code/issues">
          ARIA to JSON Issues
        </a>
      </td>
    </tr>
  </tbody>
</table>

<h2>Archived Projects</h2>

<ul>
  <li>
    <a href="https://github.com/opena11y/ainspector-for-firefox">
      AInspector for Firefox
    </a>
  </li>
  <li>
    <a href="https://fae.disability.illinois.edu">
      Functional Accessibility Evalautor
    </a>
  </li>
</ul>
