
          <div id="about">

          <h2>Contributors</h2>
          <ul>
            <li>Jon Gunderson, <a href="https://openweba11y.com">Open Web Accessibility Services</a> (retired from  <a href="https://illinois.edu">University of Illinois</a>)</li>
            <li>Nicholas Hoyt, retired from <a href="https://illinois.edu">University of Illinois</a></li>
          </ul>

          <h2>Purpose</h2>
          <p>The OpenA11y Github organization provide a publically accessible space to develop, document and discuss open source tools for web accessibility for project initiated originally at the <a href="https://illinois.edu">University of Illinois at Urbana/Champaign</a> though <a href="https://dres.illinois.edu">Disability Resources and Educational Services</a> division in the <a href="https://ahs.illinois.edu">College of Applied Health Sciences</a>.</p>

        </div>
