                    <div class="type">Domain Information:</div>
                    <ul class="type">
                      <li>
                        <span class="extension">External:</span> Links that reference a different website (e.g. different domain name)
                      </li>

                      <li>
                        <span class="extension">Internal:</span>  Links that reference a target element (e.g. typically using an <code>id</code> on the element) in the current web page.
                      </li>

                      <li>
                        <span class="extension">ssd:</span> Links with the same domain and sub-domain, often indicating the page is developed using the same web technology and administered by the same person or group of people.
                      </li>

                      <li>
                        <span class="extension">sd:</span> Links with the same domain identifies the page is part of the same organization, but might be using a different web technology and administered by people not associated with website with the same sub-domain.
                        </li>
                    </ul>

                    <div class="type">File extensions:</div>
                    <ul class="type">
                      <li><span class="extension">pdf:</span> Adobe Portable Document</li>
                      <li><span class="extension">docx:</span> Word document</li>
                      <li><span class="extension">xslx:</span> Excel document</li>
                      <li><span class="extension">png:</span> Image format</li>
                      <li><span class="extension">jpeg:</span> Image format</li>
                      <li><span class="extension">mpeg:</span> Movie format</li>
                    </ul>
